<div
  class="overflow-hidden rounded-2xl border border-gray-200 bg-white px-4 pb-3 pt-4 dark:border-gray-800 dark:bg-white/[0.03] sm:px-6">
  <div class="flex flex-col gap-2 mb-4 sm:flex-row sm:items-center sm:justify-between">
    <div>
      <h3 class="text-lg font-semibold text-gray-800 dark:text-white/90">
        Recent Orders
      </h3>
    </div>

    <div class="flex items-center gap-3">
      <button
        class="inline-flex items-center gap-2 rounded-lg border border-gray-300 bg-white px-4 py-2.5 text-theme-sm font-medium text-gray-700 shadow-theme-xs hover:bg-gray-50 hover:text-gray-800 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-white/[0.03] dark:hover:text-gray-200">
        <IconFilter className="stroke-current fill-white dark:fill-gray-800" [size]="20" />
        Filter
      </button>
      <button
        class="inline-flex items-center gap-2 rounded-lg border border-gray-300 bg-white px-4 py-2.5 text-theme-sm font-medium text-gray-700 shadow-theme-xs hover:bg-gray-50 hover:text-gray-800 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-white/[0.03] dark:hover:text-gray-200">
        See all
      </button>
    </div>
  </div>

  <div class="max-w-full overflow-x-auto">
    <table class="w-full text-left">
      <thead class="border-y border-gray-100 dark:border-gray-800">
        <tr>
          <th class="py-3 font-medium text-gray-500 text-theme-xs dark:text-gray-400">Products</th>
          <th class="py-3 font-medium text-gray-500 text-theme-xs dark:text-gray-400">Category</th>
          <th class="py-3 font-medium text-gray-500 text-theme-xs dark:text-gray-400">Price</th>
          <th class="py-3 font-medium text-gray-500 text-theme-xs dark:text-gray-400">Status</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-100 dark:divide-gray-800">
        @for (product of tableData; track $index) {
        <tr>
          <td class="py-3">
            <div class="flex items-center gap-3">
              <div class="h-[50px] w-[50px] overflow-hidden rounded-md">
                <img [src]="product.image" [alt]="product.name" class="h-[50px] w-[50px]" />
              </div>
              <div>
                <p class="font-medium text-gray-800 text-theme-sm dark:text-white/90">
                  {{ product.name }}
                </p>
                <span class="text-gray-500 text-theme-xs dark:text-gray-400">
                  {{ product.variants }}
                </span>
              </div>
            </div>
          </td>
          <td class="py-3 text-gray-500 text-theme-sm dark:text-gray-400">
            {{ product.category }}
          </td>
          <td class="py-3 text-gray-500 text-theme-sm dark:text-gray-400">
            {{ product.price }}
          </td>
          <td class="py-3 text-gray-500 text-theme-sm dark:text-gray-400">
            <UiBadge size="sm" [color]="getBadgeColor(product.status)">
              {{ product.status }}
            </UiBadge>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>