<div class="rounded-2xl border border-gray-200 bg-white p-6 dark:border-gray-800 dark:bg-white/3">
  <h2 class="mb-5 text-lg font-semibold text-gray-800 dark:text-white/90">
    Order History
  </h2>
  <!-- Timeline item -->
  <div class="relative pb-7 pl-11">
    <!-- Icon -->
    <div class="absolute top-0 left-0 z-10 flex h-12 w-12 items-center justify-center rounded-full border-2 border-gray-50 bg-white text-gray-700 ring ring-gray-200 dark:border-gray-800 dark:bg-gray-900 dark:text-gray-400 dark:ring-gray-800">
      <!-- Shopping cart icon -->
      <IconShoppingCart className="size-5" />
    </div>
    <div class="ml-4 flex justify-between">
      <div>
        <h4 class="font-medium text-gray-800 dark:text-white/90">
          Checkout Started
        </h4>
        <p class="text-sm text-gray-500 dark:text-gray-400">
          via tailadmin.com
        </p>
      </div>

      <div>
        <span class="text-xs text-gray-500 dark:text-gray-400">
          12:54
        </span>
        <p class="text-xs text-gray-500 dark:text-gray-400">
          12th Apr 28
        </p>
      </div>
    </div>

    <!-- Vertical line -->
    <div class="absolute top-8 left-6 h-full w-px border border-dashed border-gray-300 dark:border-gray-700"></div>
  </div>

  <!-- Timeline item -->
  <div class="relative pb-7 pl-11">
    <!-- Icon -->
    <div class="absolute top-0 left-0 z-10 flex h-12 w-12 items-center justify-center rounded-full border-2 border-gray-50 bg-white text-gray-700 ring ring-gray-200 dark:border-gray-800 dark:bg-gray-900 dark:text-gray-400 dark:ring-gray-800">
      <!--Card icon -->
      <IconCard className="size-5" />
    </div>
    <div class="ml-4 flex justify-between">
      <div>
        <h4 class="font-medium text-gray-800 dark:text-white/90">
          Purchased
        </h4>
        <p class="text-sm text-gray-500 dark:text-gray-400">
          for US$4,235 via PayPal
        </p>
      </div>

      <div>
        <span class="text-xs text-gray-500 dark:text-gray-400">
          12:58
        </span>
        <p class="text-xs text-gray-500 dark:text-gray-400">
          12th Apr 28
        </p>
      </div>
    </div>

    <!-- Vertical line -->
    <div class="absolute top-8 left-6 h-full w-px border border-dashed border-gray-300 dark:border-gray-700"></div>
  </div>

  <!-- Timeline item -->
  <div class="relative pl-11">
    <!-- Icon -->
    <div class="absolute top-0 left-0 z-10 flex h-12 w-12 items-center justify-center rounded-full border-2 border-gray-50 bg-white text-gray-700 ring ring-gray-200 dark:border-gray-800 dark:bg-gray-900 dark:text-gray-400 dark:ring-gray-800">
      <!--Card icon -->
      <IconEnvelopeStroke className="size-5" />
    </div>
    <div class="ml-4 flex justify-between">
      <div>
        <h4 class="font-medium text-gray-800 dark:text-white/90">
          Receipt Email Sent
        </h4>
        <p class="text-sm text-gray-500 dark:text-gray-400">
          Receipt #1734535
        </p>
      </div>

      <div>
        <span class="text-xs text-gray-500 dark:text-gray-400">
          12:58
        </span>
        <p class="text-xs text-gray-500 dark:text-gray-400">
          12th Apr 28
        </p>
      </div>
    </div>
  </div>

  <!-- Action buttons -->
  <div class="mt-5 flex items-center justify-center gap-2">
    <button class="shadow-theme-xs rounded-md border border-gray-300 px-3 py-1.5 text-xs font-medium text-gray-700 hover:bg-gray-100 dark:border-gray-700 dark:text-gray-300 dark:hover:bg-gray-800">
      Resend
    </button>
    <button class="shadow-theme-xs rounded-md border border-gray-300 px-3 py-1.5 text-xs font-medium text-gray-700 hover:bg-gray-100 dark:border-gray-700 dark:text-gray-300 dark:hover:bg-gray-800">
      Forward
    </button>
    <button class="shadow-theme-xs rounded-md border border-gray-300 px-3 py-1.5 text-xs font-medium text-gray-700 hover:bg-gray-100 dark:border-gray-700 dark:text-gray-300 dark:hover:bg-gray-800">
      Preview
    </button>
  </div>
</div>