<label
  class="flex items-center space-x-3 group cursor-pointer"
  [class.cursor-not-allowed]="disabled()"
  [class.opacity-60]="disabled()"
>
  <div class="relative w-5 h-5">
    <input
      [id]="id() || null"
      type="checkbox"
      [class]="
        'w-5 h-5 appearance-none cursor-pointer border border-gray-300 dark:border-gray-700 rounded-md checked:bg-brand-500 checked:border-transparent disabled:opacity-60 ' +
        className()
      "
      [checked]="checked()"
      (change)="onChange($event)"
      [disabled]="disabled()"
    />

    @if (checked()) {
      <svg
        class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 pointer-events-none"
        xmlns="http://www.w3.org/2000/svg"
        width="14"
        height="14"
        viewBox="0 0 14 14"
        fill="none"
      >
        <path
          d="M11.6666 3.5L5.24992 9.91667L2.33325 7"
          stroke="white"
          stroke-width="1.94437"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    }

    @if (disabled()) {
      <svg
        class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 pointer-events-none"
        xmlns="http://www.w3.org/2000/svg"
        width="14"
        height="14"
        viewBox="0 0 14 14"
        fill="none"
      >
        <path
          d="M11.6666 3.5L5.24992 9.91667L2.33325 7"
          stroke="#E4E7EC"
          stroke-width="2.33333"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    }
  </div>

  @if (label()) {
    <span class="text-sm font-medium text-gray-800 dark:text-gray-200">
      {{ label() }}
    </span>
  }
</label>
