<app-component-card title="Input Group">
  <div class="space-y-6">
    <div>
      <app-label>Email</app-label>
      <div class="relative">
        <span class="absolute left-0 top-1/2 -translate-y-1/2 border-r border-gray-200 px-3.5 py-3 text-gray-500 dark:border-gray-800 dark:text-gray-400">
          <IconEnvelope [size]="20" />
        </span>
        <app-input-field
          placeholder="info@gmail.com"
          type="text"
          className="pl-[62px]"
        />
      </div>
    </div>
    <div>
      <app-label>Phone</app-label>
      <app-phone-input
        [selectPosition]="'start'"
        [countries]="countries"
        placeholder="+1 (555) 000-0000"
        (phoneChange)="handlePhoneNumberChange($event)"
      />
    </div>
    <div>
      <app-label>Phone</app-label>
      <app-phone-input
        [selectPosition]="'end'"
        [countries]="countries"
         placeholder="+1 (555) 000-0000"
        (phoneChange)="handlePhoneNumberChange($event)"
      />
    </div>
  </div>
</app-component-card>