<ul class="flex flex-col gap-1">
  @for (nav of items(); track trackByCodigo($index, nav)) {
    <li>
      @if (nav.path) {
        <a
          [routerLink]="nav.path"
          routerLinkActive="menu-item-active"
          class="menu-item group"
          [ngClass]="{ 'menu-item-inactive': true }"
          (click)="onItemClick()"
        >
          <span class="menu-item-icon-size menu-item-icon-inactive">
            <ng-container *ngComponentOutlet="resolveIcon(nav)"></ng-container>
          </span>
          @if (isVisible()) {
            <UiLabel
              type="bodyS"
              color="textStrong"
              weight="medium"
              className="menu-item-text"
            >
              {{ nav.name }}
            </UiLabel>
          }
        </a>
      }
    </li>
  }
</ul>