<UiTable
  [query]="query()"
  [data]="rows()"
  [columns]="columns()"
  [emptyText]="emptyText()"
  [hasActions]="false"
></UiTable>

<ng-template #tareaCell let-row>
  <UiFlex direction="column" [gap]="0" className="min-w-0">
    <UiLabel
      type="bodyS"
      weight="semibold"
      color="textStrong"
      [text]="row.targetLabel"
    />
    @if (row.targetRef) {
      <UiLabel
        type="bodyXs"
        weight="medium"
        color="textWeak"
        className="font-mono whitespace-nowrap"
        [text]="row.targetRef"
      />
    }
  </UiFlex>
</ng-template>

<ng-template #tipoCell let-row>
  <UiFlex direction="row" justifyContent="center" alignItems="center">
    <UiBadge variant="light" color="primary" size="sm">
      {{ row.type }}
    </UiBadge>
  </UiFlex>
</ng-template>

<ng-template #descripcionCell let-row>
  <UiLabel
    type="bodyS"
    color="textWeak"
    className="min-w-0"
    [text]="row.description"
  />
</ng-template>

<ng-template #reportadaCell let-row>
  <UiLabel type="bodyS" color="textStrong" [text]="row.reportedBy" />
</ng-template>

<ng-template #deteccionCell let-row>
  <UiLabel
    type="bodyXs"
    color="textStrong"
    className="font-mono whitespace-nowrap"
    [text]="formatDate(row.detectionDate)"
  />
</ng-template>

<ng-template #situacionCell let-row>
  <UiFlex direction="row" justifyContent="center" alignItems="center">
    <UiBadge
      [variant]="statusBadgeVariant(row.status)"
      [color]="statusBadgeColor(row.status)"
      size="md"
    >
      {{ row.status }}
    </UiBadge>
  </UiFlex>
</ng-template>

<ng-template #accionesCell let-row>
  <UiFlex [gap]="2" alignItems="center" justifyContent="end" [noWrap]="true">
    <UiButton
      variant="secondary"
      size="sm"
      [LeftIcon]="viewIcon"
      labelText="Ver variación"
      (click)="view.emit(row)"
    />
    <UiButton
      variant="primary"
      size="sm"
      [LeftIcon]="resolveIcon"
      labelText="Resolver variación"
      [disabled]="!isPending(row)"
      [tooltip]="isPending(row) ? undefined : 'Solo en variaciones Pendientes'"
      (click)="resolve.emit(row)"
    />
  </UiFlex>
</ng-template>
