<UiSurface
  [variant]="surfaceVariant()"
  [padding]="'md'"
  [dataTestId]="'alert'"
>
  <UiFlex [alignItems]="'flex-start'" [gap]="'12px'">
    <UiIcon [variant]="iconVariant()" [dataTestId]="'alert-icon'">
      @switch (variant()) {
        @case ('success') {
          <IconSuccess [size]="24" />
        }
        @case ('error') {
          <IconError [size]="24" />
        }
        @case ('warning') {
          <IconWarning [size]="24" />
        }
        @case ('info') {
          <IconInfoCircle [size]="24" />
        }
      }
    </UiIcon>

    <UiFlex [direction]="'column'" [gap]="'2px'">
      @if (title()) {
        <UiLabel
          [type]="'bodyXs'"
          [weight]="'semibold'"
          [color]="'textStrong'"
          [text]="title()"
        ></UiLabel>
      }

      <UiLabel
        [type]="'bodyS'"
        [color]="'textWeak'"
        [text]="message()"
      ></UiLabel>

      @if (showLink()) {
        <UiLink
          [to]="linkHref()"
          [variant]="'subtle'"
          [underline]="'always'"
          [size]="'md'"
        >
          {{ linkText() }}
        </UiLink>
      }
    </UiFlex>
  </UiFlex>
</UiSurface>
