<UiTable
  [query]="query()"
  [data]="rows()"
  [columns]="columns()"
  [emptyText]="emptyText()"
  [hasActions]="false"
></UiTable>

<ng-template #recursoCell let-row>
  <UiFlex direction="row" alignItems="center" [gap]="8" className="min-w-0">
    <UiSurface
      variant="neutral"
      padding="none"
      className="h-9 w-9 rounded-full shrink-0 bg-gray-100 dark:bg-gray-800"
      ariaLabel="Avatar del recurso"
    ></UiSurface>
    <UiFlex direction="column" [gap]="0" className="min-w-0">
      <UiLabel
        type="bodyS"
        weight="semibold"
        color="textStrong"
        [text]="row.resourceName"
      />
      <UiLabel type="bodyXs" color="textWeak" [text]="row.resourceRole" />
    </UiFlex>
  </UiFlex>
</ng-template>

<ng-template #tareaCell let-row>
  <UiLabel
    type="bodyS"
    weight="semibold"
    color="textStrong"
    [text]="row.taskName"
  />
</ng-template>

<ng-template #subproyectoCell let-row>
  <UiFlex direction="column" [gap]="2" className="min-w-0">
    <UiLabel type="bodyXs" color="textWeak" [text]="row.subprojectName" />
    @if (row.subprojectPriority) {
      <UiBadge variant="light" [color]="priorityColor(row)" size="sm">
        {{ row.subprojectPriority }}
      </UiBadge>
    }
  </UiFlex>
</ng-template>

<ng-template #horasCell let-row>
  <UiLabel
    type="bodyS"
    weight="semibold"
    color="textStrong"
    className="font-mono whitespace-nowrap"
  >
    {{ row.plannedHours }} h
  </UiLabel>
</ng-template>

<ng-template #periodoCell let-row>
  <UiLabel
    type="bodyXs"
    color="textStrong"
    className="font-mono whitespace-nowrap"
    [text]="formatPeriod(row)"
  />
</ng-template>

<ng-template #accionesCell let-row>
  <UiFlex [gap]="2" alignItems="center" justifyContent="end" [noWrap]="true">
    <UiButton
      variant="secondary"
      size="sm"
      [LeftIcon]="editIcon"
      labelText="Editar asignación"
      (click)="edit.emit(row)"
    />
    <UiButton
      variant="primary"
      size="sm"
      [LeftIcon]="trashIcon"
      labelText="Quitar asignación"
      (click)="remove.emit(row)"
    />
  </UiFlex>
</ng-template>
