<app-component-card title="Modal Based Alerts">
  <div class="flex flex-wrap items-center gap-3">
    <button
      (click)="handleOpenModal('success')"
      class="px-4 py-3 text-sm font-medium text-white rounded-lg bg-success-500 shadow-theme-xs hover:bg-success-600"
    >
      Success Alert
    </button>
    <button
      (click)="handleOpenModal('info')"
      class="px-4 py-3 text-sm font-medium text-white rounded-lg bg-blue-light-500 shadow-theme-xs hover:bg-blue-light-600"
    >
      Info Alert
    </button>
    <button
      (click)="handleOpenModal('warning')"
      class="px-4 py-3 text-sm font-medium text-white rounded-lg bg-warning-500 shadow-theme-xs hover:bg-warning-600"
    >
      Warning Alert
    </button>
    <button
      (click)="handleOpenModal('error')"
      class="px-4 py-3 text-sm font-medium text-white rounded-lg bg-error-500 shadow-theme-xs hover:bg-error-600"
    >
      Danger Alert
    </button>
  </div>
  <!-- Success Modal -->
  <UiModal
    [isOpen]="successModal"
    (close)="handleCloseModal('success')"
    className="max-w-[600px] p-5 lg:p-10"
  >
    <div class="text-center">
      <div class="relative flex items-center justify-center z-1 mb-7">
        <IconAlertBlob className="fill-success-50 dark:fill-success-500/15" />

        <span
          class="absolute -translate-x-1/2 -translate-y-1/2 left-1/2 top-1/2"
        >
          <IconAlertSuccess className="fill-success-600 dark:fill-success-500" />
        </span>
      </div>
      <h4
        class="mb-2 text-2xl font-semibold text-gray-800 dark:text-white/90 sm:text-title-sm"
      >
        Well Done!
      </h4>
      <p class="text-sm leading-6 text-gray-500 dark:text-gray-400">
        Lorem ipsum dolor sit amet consectetur. Feugiat ipsum libero tempor
        felis risus nisi non. Quisque eu ut tempor curabitur.
      </p>

      <div class="flex items-center justify-center w-full gap-3 mt-7">
        <button
          type="button"
          class="flex justify-center w-full px-4 py-3 text-sm font-medium text-white rounded-lg bg-success-500 shadow-theme-xs hover:bg-success-600 sm:w-auto"
        >
          Okay, Got It
        </button>
      </div>
    </div>
  </UiModal>

  <!-- Info Modal -->
  <UiModal
    [isOpen]="infoModal"
    (close)="handleCloseModal('info')"
    className="max-w-[600px] p-5 lg:p-10"
  >
    <div class="text-center">
      <div class="relative flex items-center justify-center z-1 mb-7">
        <IconAlertBlob className="fill-blue-light-50 dark:fill-blue-light-500/15" />

        <span
          class="absolute -translate-x-1/2 -translate-y-1/2 left-1/2 top-1/2"
        >
          <IconAlertInfo className="fill-blue-light-500 dark:fill-blue-light-500" />
        </span>
      </div>

      <h4
        class="mb-2 text-2xl font-semibold text-gray-800 dark:text-white/90 sm:text-title-sm"
      >
        Information Alert!
      </h4>
      <p class="text-sm leading-6 text-gray-500 dark:text-gray-400">
        Lorem ipsum dolor sit amet consectetur. Feugiat ipsum libero tempor
        felis risus nisi non. Quisque eu ut tempor curabitur.
      </p>

      <div class="flex items-center justify-center w-full gap-3 mt-7">
        <button
          type="button"
          class="flex justify-center w-full px-4 py-3 text-sm font-medium text-white rounded-lg bg-blue-light-500 shadow-theme-xs hover:bg-blue-light-600 sm:w-auto"
        >
          Okay, Got It
        </button>
      </div>
    </div>
  </UiModal>

  <!-- Warning Modal -->
  <UiModal
    [isOpen]="warningModal"
    (close)="handleCloseModal('warning')"
    className="max-w-[600px] p-5 lg:p-10"
  >
    <div class="text-center">
      <div class="relative flex items-center justify-center z-1 mb-7">
        <IconAlertBlob className="fill-warning-50 dark:fill-warning-500/15" />

        <span
          class="absolute -translate-x-1/2 -translate-y-1/2 left-1/2 top-1/2"
        >
          <IconAlertWarning className="fill-warning-600 dark:fill-orange-400" />
        </span>
      </div>

      <h4
        class="mb-2 text-2xl font-semibold text-gray-800 dark:text-white/90 sm:text-title-sm"
      >
        Warning Alert!
      </h4>
      <p class="text-sm leading-6 text-gray-500 dark:text-gray-400">
        Lorem ipsum dolor sit amet consectetur. Feugiat ipsum libero tempor
        felis risus nisi non. Quisque eu ut tempor curabitur.
      </p>

      <div class="flex items-center justify-center w-full gap-3 mt-7">
        <button
          type="button"
          class="flex justify-center w-full px-4 py-3 text-sm font-medium text-white rounded-lg bg-warning-500 shadow-theme-xs hover:bg-warning-600 sm:w-auto"
        >
          Okay, Got It
        </button>
      </div>
    </div>
  </UiModal>

  <!-- Error Modal -->
  <UiModal
    [isOpen]="errorModal"
    (close)="handleCloseModal('error')"
    className="max-w-[600px] p-5 lg:p-10"
  >
    <div class="text-center">
      <div class="relative flex items-center justify-center z-1 mb-7">
        <IconAlertBlob className="fill-error-50 dark:fill-error-500/15" />

        <span
          class="absolute -translate-x-1/2 -translate-y-1/2 left-1/2 top-1/2"
        >
          <IconAlertError className="fill-error-600 dark:fill-error-500" />
        </span>
      </div>

      <h4
        class="mb-2 text-2xl font-semibold text-gray-800 dark:text-white/90 sm:text-title-sm"
      >
        Danger Alert!
      </h4>
      <p class="text-sm leading-6 text-gray-500 dark:text-gray-400">
        Lorem ipsum dolor sit amet consectetur. Feugiat ipsum libero tempor
        felis risus nisi non. Quisque eu ut tempor curabitur.
      </p>

      <div class="flex items-center justify-center w-full gap-3 mt-7">
        <button
          type="button"
          class="flex justify-center w-full px-4 py-3 text-sm font-medium text-white rounded-lg bg-error-500 shadow-theme-xs hover:bg-error-600 sm:w-auto"
        >
          Okay, Got It
        </button>
      </div>
    </div>
  </UiModal>
</app-component-card>
