<UiFlex
  direction="column"
  justifyContent="center"
  alignItems="center"
  className="flex-1 w-full"
>
  <SigninForm
    [loading]="loading()"
    (submitForm)="onSubmit($event)"
    (forgotPasswordRequested)="forgotModalOpen.set(true)"
  ></SigninForm>
</UiFlex>

@if (errorMessage(); as msg) {
  <UiToast variant="error" [message]="msg" (dismissed)="errorMessage.set(null)" />
}

<UiModal
  [isOpen]="forgotModalOpen()"
  [showCloseButton]="true"
  className="max-w-67.5 p-5"
  (close)="forgotModalOpen.set(false)"
>
  <UiHeader [level]="3" text="Restablecer contraseña" />
  <UiLabel type="bodyS" color="textStrong" className="mt-2 block">
    Por políticas de seguridad, el restablecimiento de credenciales 
    debe ser gestionado directamente por el <strong className="text-primary">
      Administrador del sistema</strong>. Por favor, ponte en contacto con el equipo de soporte técnico.
  </UiLabel>
  <UiFlex justifyContent="end" className="mt-4">
    <UiButton
      variant="primary"
      label="Entendido"
      (click)="forgotModalOpen.set(false)"
    ></UiButton>
  </UiFlex>
</UiModal>