<div class="rounded-2xl border border-gray-200 bg-white dark:border-gray-800 dark:bg-white/[0.03] w-full">
  <div class="flex items-center justify-between px-6 py-4 border-b border-gray-200 dark:border-gray-800">
    <h3 class="font-medium text-gray-800 text-theme-xl dark:text-white/90">
      Invoice
    </h3>

    <h4 class="text-base font-medium text-gray-700 dark:text-gray-400">
      ID : #348
    </h4>
  </div>

  <div class="p-5 xl:p-8">
    <div class="flex flex-col gap-6 mb-9 sm:flex-row sm:items-center sm:justify-between">
      <div>
        <span class="block mb-1 text-sm font-medium text-gray-700 dark:text-gray-400">
          From
        </span>

        <h5 class="mb-2 text-base font-semibold text-gray-800 dark:text-white/90">
          Pimjo LLC
        </h5>

        <p class="mb-4 text-sm text-gray-500 dark:text-gray-400">
          1280, Clair Street, <br />
          Massachusetts, New York - 02543
        </p>

        <span class="mb-1.5 block text-sm font-medium text-gray-700 dark:text-gray-400">
          Issued On:
        </span>

        <span class="block text-sm text-gray-500 dark:text-gray-400">
          11 March, 2027
        </span>
      </div>

      <div class="h-px w-full bg-gray-200 dark:bg-gray-800 sm:h-[158px] sm:w-px"></div>

      <div class="sm:text-right">
        <span class="block mb-1 text-sm font-medium text-gray-700 dark:text-gray-400">
          To
        </span>

        <h5 class="mb-2 text-base font-semibold text-gray-800 dark:text-white/90">
          Albert Word
        </h5>

        <p class="mb-4 text-sm text-gray-500 dark:text-gray-400">
          355, Shobe Lane <br />
          Colorado, Fort Collins - 80543
        </p>

        <span class="mb-1.5 block text-sm font-medium text-gray-700 dark:text-gray-400">
          Due On:
        </span>

        <span class="block text-sm text-gray-500 dark:text-gray-400">
          16 March, 2027
        </span>
      </div>
    </div>

    <!-- Invoice Table Start -->
    <app-invoice-table />
    <!-- Invoice Table End -->

    <div class="pb-6 my-6 text-right border-b border-gray-100 dark:border-gray-800">
      <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
        Sub Total amount: $3,098
      </p>
      <p class="mb-3 text-sm text-gray-500 dark:text-gray-400">
        Vat (10%): $312
      </p>

      <p class="text-lg font-semibold text-gray-800 dark:text-white/90">
        Total : $3,410
      </p>
    </div>

    <div class="flex items-center justify-end gap-3">
      <UiButton variant="secondary">Proceed to payment</UiButton>

      <UiButton>
        <IconPrinter className="fill-current" />
        Print
      </UiButton>
    </div>
  </div>
</div>