<div>
  <app-page-breadcrumb pageTitle="Buttons" />
  <div class="space-y-5 sm:space-y-6">
    <!-- Primary Button  -->
    <div>
      <app-component-card title="Primary Button">
        <div class="flex items-center gap-5">
          <UiButton [compact]="true" variant="primary"> Button Text </UiButton>
          <UiButton variant="primary"> Button Text </UiButton>
        </div>
      </app-component-card>
    </div>
    <!-- Primary Button with Start Icon -->
    <div>
      <app-component-card title="Primary Button with Left Icon">
        <div class="flex items-center gap-5">
          <UiButton [compact]="true" variant="primary" [LeftIcon]="boxIcon">
            Button Text
          </UiButton>
          <UiButton variant="primary" [LeftIcon]="boxIcon">
            Button Text
          </UiButton>
        </div>
      </app-component-card>
    </div>
    <!-- Primary Button with Start Icon -->
    <div>
      <app-component-card title="Primary Button with Right Icon">
        <div class="flex items-center gap-5">
          <UiButton [compact]="true" variant="primary" [RightIcon]="boxIcon">
            Button Text
          </UiButton>
          <UiButton variant="primary" [RightIcon]="boxIcon">
            Button Text
          </UiButton>
        </div>
      </app-component-card>
    </div>
    <!-- Outline Button -->
    <div>
      <app-component-card title="Secondary Button">
        <div class="flex items-center gap-5">
          <UiButton [compact]="true" variant="secondary"> Button Text </UiButton>
          <UiButton variant="secondary"> Button Text </UiButton>
        </div>
      </app-component-card>
    </div>
    <!-- Outline Button with Start Icon -->
    <div>
      <app-component-card title="Outline Button with Left Icon">
        <div class="flex items-center gap-5">
          <UiButton [compact]="true" variant="secondary" [LeftIcon]="boxIcon">
            Button Text
          </UiButton>
          <UiButton variant="secondary" [LeftIcon]="boxIcon">
            Button Text
          </UiButton>
        </div>
      </app-component-card>
    </div>
    <!-- Outline Button with Start Icon -->
    <div>
      <app-component-card title="Outline Button with Right Icon">
        <div class="flex items-center gap-5">
          <UiButton [compact]="true" variant="secondary" [RightIcon]="boxIcon">
            Button Text
          </UiButton>
          <UiButton variant="secondary" [RightIcon]="boxIcon">
            Button Text
          </UiButton>
        </div>
      </app-component-card>
    </div>
  </div>
</div>
