<CommonBreadcrumb pageTitle="Avatars" />
<div class="space-y-5 sm:space-y-6">
  <div>
    <CommonComponentCard title="Default Avatar">
      <div class="flex flex-col items-center justify-center gap-5 sm:flex-row">
        <UiAvatar src="/images/user/user-01.jpg" size="xsmall" />
        <UiAvatar src="/images/user/user-01.jpg" size="small" />
        <UiAvatar src="/images/user/user-01.jpg" size="medium" />
        <UiAvatar src="/images/user/user-01.jpg" size="large" />
        <UiAvatar src="/images/user/user-01.jpg" size="xlarge" />
        <UiAvatar src="/images/user/user-01.jpg" size="xxlarge" />
      </div>
    </CommonComponentCard>
  </div>

  <div>
    <CommonComponentCard title="Avatar with online indicator">
      <div class="flex flex-col items-center justify-center gap-5 sm:flex-row">
        <UiAvatar
          src="/images/user/user-01.jpg"
          size="xsmall"
          status="online"
        />
        <UiAvatar
          src="/images/user/user-01.jpg"
          size="small"
          status="online"
        />
        <UiAvatar
          src="/images/user/user-01.jpg"
          size="medium"
          status="online"
        />
        <UiAvatar
          src="/images/user/user-01.jpg"
          size="large"
          status="online"
        />
        <UiAvatar
          src="/images/user/user-01.jpg"
          size="xlarge"
          status="online"
        />
        <UiAvatar
          src="/images/user/user-01.jpg"
          size="xxlarge"
          status="online"
        />
      </div>
    </CommonComponentCard>
  </div>

  <div>
    <CommonComponentCard title="Avatar with Offline indicator">
      <div class="flex flex-col items-center justify-center gap-5 sm:flex-row">
        <UiAvatar
          src="/images/user/user-01.jpg"
          size="xsmall"
          status="offline"
        />
        <UiAvatar
          src="/images/user/user-01.jpg"
          size="small"
          status="offline"
        />
        <UiAvatar
          src="/images/user/user-01.jpg"
          size="medium"
          status="offline"
        />
        <UiAvatar
          src="/images/user/user-01.jpg"
          size="large"
          status="offline"
        />
        <UiAvatar
          src="/images/user/user-01.jpg"
          size="xlarge"
          status="offline"
        />
        <UiAvatar
          src="/images/user/user-01.jpg"
          size="xxlarge"
          status="offline"
        />
      </div>
    </CommonComponentCard>
  </div>

  <div>
    <CommonComponentCard title="Avatar with busy indicator">
      <div class="flex flex-col items-center justify-center gap-5 sm:flex-row">
        <UiAvatar
          src="/images/user/user-01.jpg"
          size="xsmall"
          status="busy"
        />
        <UiAvatar src="/images/user/user-01.jpg" size="small" status="busy" />
        <UiAvatar
          src="/images/user/user-01.jpg"
          size="medium"
          status="busy"
        />
        <UiAvatar src="/images/user/user-01.jpg" size="large" status="busy" />
        <UiAvatar
          src="/images/user/user-01.jpg"
          size="xlarge"
          status="busy"
        />
        <UiAvatar
          src="/images/user/user-01.jpg"
          size="xxlarge"
          status="busy"
        />
      </div>
    </CommonComponentCard>
  </div>
</div>
