<div class="grid gird-cols-1 gap-x-8 xl:grid-cols-2">
  <div class="space-y-3 sm:space-y-5">
     <!-- item--> 
    <div class="py-4">
      <div class="flex items-start gap-4">
        <div class="text-gray-700 dark:text-gray-500">
          <IconInfoCircleFaq width="24" height="26" className="fill-current" />
        </div>

        <div>
          <h4 class="mb-3 text-lg font-medium text-gray-800 dark:text-white/90">
            Do I get free updates?
          </h4>

          <p class="text-base text-gray-500 dark:text-gray-400">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Praesent et nunc ut risus imperdiet lacinia.
            <br />
            <br />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </div>
    </div>

     <!-- divider --> 
    <div class="w-full h-px bg-gray-200 dark:bg-gray-800"></div>

     <!-- item--> 
    <div class="py-4">
      <div class="flex items-start gap-4">
        <div class="text-gray-700 dark:text-gray-500">
          <IconInfoCircleFaq width="24" height="26" className="fill-current" />
        </div>

        <div>
          <h4 class="mb-3 text-lg font-medium text-gray-800 dark:text-white/90">
            Which license type is suitable for me?
          </h4>

          <p class="text-base text-gray-500 dark:text-gray-400">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </div>
    </div>

     <!-- divider --> 
    <div class="w-full h-px bg-gray-200 dark:bg-gray-800"></div>

     <!-- item--> 
    <div class="py-4">
      <div class="flex items-start gap-4">
        <div class="text-gray-700 dark:text-gray-500">
          <IconInfoCircleFaq width="24" height="26" className="fill-current" />
        </div>

        <div>
          <h4 class="mb-3 text-lg font-medium text-gray-800 dark:text-white/90">
            What are the "Seats" mentioned on pricing plans?
          </h4>

          <p class="text-base text-gray-500 dark:text-gray-400">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Praesent et nunc ut risus imperdiet lacinia.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="space-y-3 sm:space-y-5">
     <!-- item--> 
    <div class="py-4">
      <div class="flex items-start gap-4">
        <div class="text-gray-700 dark:text-gray-500">
          <IconInfoCircleFaq width="24" height="26" className="fill-current" />
        </div>

        <div>
          <h4 class="mb-3 text-lg font-medium text-gray-800 dark:text-white/90">
            Can I Customize TailAdmin to suit my needs?
          </h4>

          <p class="text-base text-gray-500 dark:text-gray-400">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Praesent et nunc ut risus imperdiet lacinia.
            <br />
            <br />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </div>
    </div>

     <!-- divider --> 
    <div class="w-full h-px bg-gray-200 dark:bg-gray-800"></div>

     <!-- item--> 
    <div class="py-4">
      <div class="flex items-start gap-4">
        <div class="text-gray-700 dark:text-gray-500">
          <IconInfoCircleFaq width="24" height="26" className="fill-current" />
        </div>

        <div>
          <h4 class="mb-3 text-lg font-medium text-gray-800 dark:text-white/90">
            What does "Unlimited Projects" mean?
          </h4>

          <p class="text-base text-gray-500 dark:text-gray-400">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
            quis magna ac nibh malesuada consectetur at vitae ipsum. Lorem
            ipsum dolor sit amet, consectetur adipiscing elit. Nam
            fermentum, leo et lacinia accumsan, ligula ante hendrerit nisi,
            eget vulputate ante justo et justo.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>