<div>
  <CommonBreadcrumb pageTitle="Badges" />
  <div class="space-y-5 sm:space-y-6">
    <div>
      <CommonComponentCard title="With Light Background">
        <div class="flex flex-wrap gap-4 sm:items-center sm:justify-center">
          <!-- Light Variant -->
          <div><UiBadge variant="light" color="primary"> Primary </UiBadge></div>
          <div><UiBadge variant="light" color="success"> Success </UiBadge></div>
          <div><UiBadge variant="light" color="error"> Error </UiBadge></div>
          <div><UiBadge variant="light" color="warning"> Warning </UiBadge></div>
          <div><UiBadge variant="light" color="info"> Info </UiBadge></div>
          <div><UiBadge variant="light" color="light"> Light </UiBadge></div>
          <div><UiBadge variant="light" color="dark"> Dark </UiBadge></div>
        </div>
      </CommonComponentCard>
    </div>

    <div>
      <CommonComponentCard title="With Solid Background">
        <div class="flex flex-wrap gap-4 sm:items-center sm:justify-center">
          <!-- Light Variant -->
          <div><UiBadge variant="solid" color="primary"> Primary </UiBadge></div>
          <div><UiBadge variant="solid" color="success"> Success </UiBadge></div>
          <div><UiBadge variant="solid" color="error"> Error </UiBadge></div>
          <div><UiBadge variant="solid" color="warning"> Warning </UiBadge></div>
          <div><UiBadge variant="solid" color="info"> Info </UiBadge></div>
          <div><UiBadge variant="solid" color="light"> Light </UiBadge></div>
          <div><UiBadge variant="solid" color="dark"> Dark </UiBadge></div>
        </div>
      </CommonComponentCard>
    </div>

    <div>
      <CommonComponentCard title="Light Background with Left Icon">
        <div class="flex flex-wrap gap-4 sm:items-center sm:justify-center">
          <div><UiBadge variant="light" color="primary" [startIcon]="plusIcon">Primary</UiBadge></div>
          <div><UiBadge variant="light" color="success" [startIcon]="plusIcon">Success</UiBadge></div>
          <div><UiBadge variant="light" color="error" [startIcon]="plusIcon">Error</UiBadge></div>
          <div><UiBadge variant="light" color="warning" [startIcon]="plusIcon">Warning</UiBadge></div>
          <div><UiBadge variant="light" color="info" [startIcon]="plusIcon">Info</UiBadge></div>
          <div><UiBadge variant="light" color="light" [startIcon]="plusIcon">Light</UiBadge></div>
          <div><UiBadge variant="light" color="dark" [startIcon]="plusIcon">Dark</UiBadge></div>
        </div>
      </CommonComponentCard>
    </div>

    <div>
      <CommonComponentCard title="Solid Background with Left Icon">
        <div class="flex flex-wrap gap-4 sm:items-center sm:justify-center">
          <div><UiBadge variant="solid" color="primary" [startIcon]="plusIcon">Primary</UiBadge></div>
          <div><UiBadge variant="solid" color="success" [startIcon]="plusIcon">Success</UiBadge></div>
          <div><UiBadge variant="solid" color="error" [startIcon]="plusIcon">Error</UiBadge></div>
          <div><UiBadge variant="solid" color="warning" [startIcon]="plusIcon">Warning</UiBadge></div>
          <div><UiBadge variant="solid" color="info" [startIcon]="plusIcon">Info</UiBadge></div>
          <div><UiBadge variant="solid" color="light" [startIcon]="plusIcon">Light</UiBadge></div>
          <div><UiBadge variant="solid" color="dark" [startIcon]="plusIcon">Dark</UiBadge></div>
        </div>
      </CommonComponentCard>
    </div>

    <div>
      <CommonComponentCard title="Light Background with Right Icon">
        <div class="flex flex-wrap gap-4 sm:items-center sm:justify-center">
          <div><UiBadge variant="light" color="primary" [endIcon]="plusIcon">Primary</UiBadge></div>
          <div><UiBadge variant="light" color="success" [endIcon]="plusIcon">Success</UiBadge></div>
          <div><UiBadge variant="light" color="error" [endIcon]="plusIcon">Error</UiBadge></div>
          <div><UiBadge variant="light" color="warning" [endIcon]="plusIcon">Warning</UiBadge></div>
          <div><UiBadge variant="light" color="info" [endIcon]="plusIcon">Info</UiBadge></div>
          <div><UiBadge variant="light" color="light" [endIcon]="plusIcon">Light</UiBadge></div>
          <div><UiBadge variant="light" color="dark" [endIcon]="plusIcon">Dark</UiBadge></div>
        </div>
      </CommonComponentCard>
    </div>

    <div>
      <CommonComponentCard title="Solid Background with Right Icon">
        <div class="flex flex-wrap gap-4 sm:items-center sm:justify-center">
          <div><UiBadge variant="solid" color="primary" [endIcon]="plusIcon">Primary</UiBadge></div>
          <div><UiBadge variant="solid" color="success" [endIcon]="plusIcon">Success</UiBadge></div>
          <div><UiBadge variant="solid" color="error" [endIcon]="plusIcon">Error</UiBadge></div>
          <div><UiBadge variant="solid" color="warning" [endIcon]="plusIcon">Warning</UiBadge></div>
          <div><UiBadge variant="solid" color="info" [endIcon]="plusIcon">Info</UiBadge></div>
          <div><UiBadge variant="solid" color="light" [endIcon]="plusIcon">Light</UiBadge></div>
          <div><UiBadge variant="solid" color="dark" [endIcon]="plusIcon">Dark</UiBadge></div>
        </div>
      </CommonComponentCard>
    </div>
  </div>
</div>